/* Root Colour Palette */
:root {
    --primary-blue: #257BF4;

    --secondary-slate: #2c2f43;
    --secondary-slate-70: rgba(44, 47, 67, 0.7);
    --secondary-slate-10: rgba(44, 47, 67, 0.1);

    --accent-orange: #F48925;
    --accent-purple: #6D25F4;

    --background-white: #FFFFFF;
    --background-ghost: #F9F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    align-items: center;
    width: 85px; /* replace with 85px if you want to animate navbar */
    height: 100%;
    padding: 40px 15px;
    background-color: var(--background-white);
    color: var(--secondary-slate);
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
    transform: translateX(0);
    /* border: 1px pink solid; */
}

.sidebar .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px pink solid; */
}

/* I have two nav boxes (.nav-box-top and .nav-box-bottom) */
.sidebar .container .nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    transition: all 0.5s ease;
    /* border: 1px orange solid; */
}

.sidebar .container .nav-box-bottom {
    align-items: center;
    margin-top: auto;
}

.sidebar .container .nav-box .logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.sidebar .container .nav-box .logo-box .menu {
    height: 55px;
    padding: 15px;
    cursor: pointer;
}

.sidebar .container .nav-box .logo-box .logo {
    display: none;
    height: 55px;
}

.sidebar .container .nav-box .logo-box .demo-badge {
    display: none;
    background-color: rgb(37, 123, 244, 0.10);
    color: var(--primary-blue);
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 5px;
}

/* Nav Items */
.sidebar .container .nav-box .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sidebar .container .nav-box .nav-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .container .nav-box .nav-items ul li + li { /* Spacing between nav items */
    margin-top: 5px;
}

.sidebar .container .nav-box .nav-items ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar .container .nav-box .nav-items ul li a {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    color: var(--secondary-slate);
    width: 100%;
    transition: background 0.3s;
    border-radius: 8px;
    opacity: 0.7;
}

.sidebar .container .nav-box .nav-items ul li a.active {
    background-color: rgba(37, 123, 244, 0.1);
    color: var(--primary-blue);
    opacity: 1;
}

.sidebar .container .nav-box .nav-items ul li a .icon {
    height: 26px;
}

.sidebar .container .nav-box .nav-items ul li a.active .icon path {
    fill: var(--primary-blue);
}

.sidebar .container .nav-box .nav-items ul li a .nav-text {
    font-size: 17px;
    font-weight: 500;
    display: none;
}

/* Alert Box */
.sidebar .container .nav-box .alert-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-ghost);
    color: var(--secondary-slate);
    gap: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar .container .nav-box .alert-box .icon {
    height: 26px;
}

.sidebar .container .nav-box .alert-box .alert-content {
    display: none;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.sidebar .container .nav-box .alert-box .alert-content h3 {
    font-size: 18px;
    font-weight: 700;
}

.sidebar .container .nav-box .alert-box .alert-content p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.sidebar .container .nav-box .alert-box .alert-content button {
    all: unset; /* Resets all inherited and default styles */
    width: 100%;
    display: flex;
    align-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-slate);
    color: var(--background-white);
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
}

.sidebar .container .nav-box .alert-box .alert-content .alert-btn {
    text-decoration: none;
    background-color: var(--secondary-slate);
    color: var(--background-white);
    font-size: 13px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

/* Sidebar Open Settings */
.sidebar.open {
    width: 300px;
    padding: 40px 20px;
}

.sidebar.open .container .nav-box .logo-box .logo,
.sidebar.open .container .nav-box .logo-box .demo-badge {
    display: flex;
}

.sidebar.open .container .nav-box .nav-items {
    align-items: left;
}

.sidebar.open .container .nav-box .nav-items .nav-text {
    display: flex;
}

.sidebar.open .container .nav-box .alert-box {
    padding: 30px 20px;
    border-radius: 16px;
}

.sidebar.open .container .nav-box .alert-box .icon {
    height: 35px;
}

.sidebar.open .container .nav-box .alert-box .alert-content {
    width: 100%;
    display: flex;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: var(--background-white);
    transition: transform 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

/* Enables dashboard to move left/right with navbar slider */
.sidebar.open ~ .main-content {
    left: 300px;
    width: calc(100% - 300px);
}

.main-content .content {
    display: flex;
    flex-direction: column;
    background-color: var(--background-ghost);
    color: var(--secondary-slate);
    padding: 25px 35px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Home Styling */
#home .wrapper {
    position: relative; /* Enables the wrapper to reposition child elements... child absolute position will become relevant to parent element */
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
}

#home #map {
    width: 100%;
    height: 100%;
}

#home .live-feed-popup {
    position: absolute;
    bottom: 40px;
    left: 40px; 
    width: 325px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 25px 25px 25px; 
    border-radius: 12px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    color: var(--secondary-slate);
}

.live-feed-popup .live-feed-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.live-feed-popup .live-feed-wrapper .close-popup {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    width: 100%;
    /* border: 1px solid red; */
}

.live-feed-popup .live-feed-wrapper .close-popup .close {
    height: 30px;
}

.live-feed-popup .live-feed-wrapper .p-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.live-feed-popup .live-feed-wrapper .p-content .p-content-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.live-feed-popup .live-feed-wrapper .p-content p {
    font-size: 14px;
}

.live-feed-popup .live-feed-wrapper .p-content .camera-wrapper {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.live-feed-popup .live-feed-wrapper .p-content .camera-wrapper .beach-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.get-directions {
    padding: 15px 20px;
    background-color: var(--secondary-slate);
    color: var(--background-white);
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Rip Currents */
#rip-current .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#rip-current .content .title-box {
    display: flex;
    width: 100%;
    /* border: 1px red solid; */
}

#rip-current .content .title-box h1 {
    font-size: 28px;
}

#rip-current .content .info-box {
    display: flex;
    display: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
}

/* Rip Current - Explain Box */
#rip-current .content .info-box .rip-explain {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--background-white);
    color: var(--secondary-slate);
    width: 60%;
    height: 100%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-explain .rip-title {
    width: 100%;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-explain .rip-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-explain .rip-details .rip-detail-item img {
    height: 30px;
    margin-bottom: 10px;
}

#rip-current .content .info-box .rip-explain .rip-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-explain .rip-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* Rip Current - Escape Box */
#rip-current .content .info-box .rip-escape {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--background-white);
    color: var(--secondary-slate);
    width: 37%;
    height: auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-escape .rip-title {
    width: 100%;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-escape .escape-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
}

#rip-current .content .info-box .rip-escape .escape-info .escape-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#rip-current .content .info-box .rip-escape .escape-info .escape-step img {
    height: 130px;
}

#rip-current .content .info-box .rip-escape .escape-info .escape-step .escape-step-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#rip-current .content .info-box .rip-escape .escape-info .escape-step .escape-step-content h3 {
    font-size: 28px;
}

#rip-current .content .info-box .rip-escape .escape-info .escape-step .escape-step-content p {
    font-size: 16px;
}

/* Get Alerts Styling */
#get-alerts .content {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}

#get-alerts .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#get-alerts .content .title-box {
    display: flex;
    width: 100%;
    /* border: 1px red solid; */
}

#get-alerts .content .title-box h1 {
    font-size: 28px;
}

#get-alerts .content .alert-container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    /* border: 1px red solid; */
}

#get-alerts .content .alert-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 85%;
    gap: 40px;
    /* border: 1px red solid; */
}

#get-alerts .content .alert-container-inner .alert-title {
    width: 100%;
    /* border: 1px red solid; */

}

#get-alerts .content .alert-container-inner .alert-form {
    display: flex;
    flex: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 80px;
    /* border: 1px red solid; */
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    /* border: 1px red solid; */
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences h3 {
    font-weight: 400;
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items {
    display: flex;
    flex-direction: column;
}


#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item {
    cursor: pointer;
    /* padding: 20px 0px; */
    margin-bottom: 10px;
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item .accordion-title {
    text-decoration: none;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: var(--secondary-slate-10);
    width: 100%;
    padding: 20px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 17px;
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item .accordion-title:hover {
    background-color: rgba(44, 47, 67, 0.2);
    transition: all ease 0.2s;

}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item .accordion-title .arrow {
    rotate: -90deg;
    transition: transform 0.4s
}

.rotate {
    transform: rotate(90deg);
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item .accordion-content {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 25px;
}

#get-alerts .content .alert-container-inner .alert-form .alert-preferences .available-items .accordion-item .accordion-content .option {
    display: flex;
    align-items: left;
    gap: 10px;
    /* font-size: 20px; */
    color: #2c2f43;
    cursor: pointer;
    margin-bottom: 5px;
}

.option input[type="checkbox"] {
    display: none;
}

.accordion-item .accordion-content .option .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 2px solid #2c2f43;
    border-radius: 4px;
}

.accordion-item .accordion-content .option .checkmark img {
    display: none;
    width: 12px;
    height: 12px;
}

.accordion-item .accordion-content .option input[type="checkbox"]:checked + .checkmark {
    background-color: #2c2f43;
}

/* Show the checkmark image when checkbox is checked */
.accordion-item .accordion-content .option input[type="checkbox"]:checked + .checkmark img {
    display: flex;
}

/* Alert Time */
#get-alerts .content .alert-container-inner .alert-form .alert-time {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    /* border: 1px green solid; */
}

#get-alerts .content .alert-container-inner .alert-form .alert-time h3 {
    font-weight: 400;
}

#get-alerts .content .alert-container-inner .alert-form .alert-time .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 100px;
    /* border: 1px red solid; */
}

.form-container .contact-time-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

#get-alerts .content .alert-container-inner .alert-form .alert-time .form-container .contact-time-wrap .contact-time-options {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.contact-time-wrap .contact-time-options label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-slate);
}

.contact-time-wrap .contact-time-options select {
    width: 100%;
    padding: 15px 30px;
    margin-top: 5px;
    border: 1px solid var(--secondary-slate-10);
    border-radius: 6px;
    background-color: var(--background-white);
    font-size: 16px;
    color: var(--secondary-slate);
    appearance: none; /* Hide default dropdown arrow */
    cursor: pointer;
    position: relative;
}

/* Hover effect */
.contact-time-wrap .contact-time-options select:hover {
    border-color: var(--primary-blue);
}

.contact-time-wrap .contact-time-options select:focus {
    outline: none;
    border: 1px solid var(--primary-blue);
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Alert Message - Contact Time */
.time-error-message,
.alert-error-message {
    display: none;
    color: red;
}

button#submit-alerts {
    padding: 20px 20px;
    background-color: var(--primary-blue);
    color: var(--background-white);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#submit-alerts:hover {
    background-color: #216ad1;
}

/* Selected Alerts */
.alert-time .selected-alerts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    /* border: 1px red solid; */
}

.alert-time .selected-alerts .alert-dummy-text {
    font-size: 15px;
    opacity: 0.7;
}

.alert-time .selected-alerts .alerts-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.alert-time .selected-alerts .alerts-wrap .chosenAlert {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 7px 20px;
    background-color: rgba(37, 123, 244, 0.10);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* Get Alerts - Alert Submitted Show QR CODE */

#get-alerts .content .alerts-submitted-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */
}

#get-alerts .content .alerts-submitted-container .inner-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 70%;
    gap: 100px;
    /* border: 1px red solid; */
    color: var(--secondary-slate);
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 50px;
    /* border: 1px red solid; */
}

.left-side .heading {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left-side .heading h1 {
    font-size: 37px;
    font-weight: 600;
}

.left-side .line {
    width: 100%;
    height: 1px;
    background-color: rgba(44, 47, 67, 0.3);
}

.left-side .alerts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-side .alerts h3 {
    font-weight: 600;
}

.left-side .alerts .displaySelectedAlerts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.left-side .alerts .alertSelected { /* Selected alert styling on QR page */
    display: flex;
    align-items: center;
    padding: 7px 20px;
    background-color: rgba(37, 123, 244, 0.10);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
}

.left-side .time {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-side .time h3 {
    font-weight: 600;
}

.left-side .time .displayedSelectedTime {
    display: flex;
    flex-direction: column;
}

div.displaySelectedTime .time-selected {
    align-items: center;
    padding: 10px 15px;
    background-color: var(--secondary-slate-10);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    /* border: 1px red solid; */
}

.right-side .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-white);
    width: 100%;
    height: 50%;
    padding: 35px;
    gap: 40px;
    border-radius: 16px;
    /* border: 1px red solid; */
}

.right-side .wrapper .QR-code {
    height: 100%;
    /* border: 1px red solid; */
}

div.QR-code .qr-code-canvas {
    height: 100%;
}

.right-side .wrapper .right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    /* border: 1px red solid; */
}