/* Import Poppins Font Family - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Colour Palette */
:root {
    --primary-blue: #257BF4;

    --secondary-slate: #2c2f43;
    --secondary-slate-70: rgba(44, 47, 67, 0.7);
    --secondary-slate-10: rgba(44, 47, 67, 0.1);

    --accent-orange: #F48925;
    --accent-purple: #6D25F4;

    --background-white: #FFFFFF;
    --background-ghost: #F9F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* General Styles */
#beach-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-white);
    color: var(--secondary-slate);
    padding: 25px 35px;
    height: 100%;
}

#beach-info .content {
    background-color: var(--background-ghost);
}

.beach-conditions-container {
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
}

/* Weather Container */
#weather-container {
    flex: 2;
    background: #fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    display: none;
}

#temp-div {
    font-size: 60px;
    font-weight: 600;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: black;
    margin-top: 10px;
}

/* Other Beach Info */
.other-beach-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    /* border: 1px solid red; */
}

/* Beach Info Details */
.beach-info-detail {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: 1px solid red; */
}

.beach-info-index-title {
    font-size: 1.2em;
    font-weight: 500;
}

.beach-info-index-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.2em;
    font-weight: 600;
    /* margin: 10px 0; */
    gap: 30px;
    /* border: 1px solid red; */
}

.beach-info-detail img {
    width: 50px;
    height: 50px;
}

.beach-info-max-today {
    font-size: 1em;
    color: var(--secondary-slate);
    /* margin-top: 100px; */
}

.beach-info-top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
}

.beach-info-floating-max {
    background-color: #F48925;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 50px;
    border-radius: 5px;
    padding: 4px 15px;
}

.highlight-blue {
    background-color: var(--primary-blue);
}

/* Specific Detail Containers */
#uv-index,
#wind,
#swell,
#emergency {
    display: flex;
    border-radius: 15px;
}

.call {
    font-size: 24px;
}

.number {
    color: #F48925;
    font-weight: 700;
}

#dynamic-uv-max,
#dynamic-wind-max,
#dynamic-swell-max {
    font-weight: bold;
}