/* Root Colour Palette */
:root {
    --primary-blue: #257BF4;

    --secondary-slate: #2c2f43;
    --secondary-slate-70: rgba(44, 47, 67, 0.7);
    --secondary-slate-10: rgba(44, 47, 67, 0.1);

    --accent-orange: #F48925;
    --accent-purple: #6D25F4;

    --background-white: #FFFFFF;
    --background-ghost: #F9F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Weather */
#weather-container {
    background: white !important;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid black !important;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#beach-info {
    display: flex;
    flex-direction: column;
    background-color: var(--background-ghost);
    color: var(--secondary-slate);
    padding: 25px 35px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#city {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: black;
    margin-top: 10px;
}

.beach-conditions-container {
    position: relative;
    width: 85%;
    padding: 20px;
    /* background: #f0f0f0; */
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    display: flex;
    gap: 20px;
}

#weather-container {
    flex: 2;
    padding: 20px;
    background: #e0e0e0;
}

.other-beach-info {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

#wind {
    /* background-color: #add8e6; */
    display: flex;
    border-radius: 15px;
}

#swell {
    /* background-color: #90ee90; */
    display: flex;
    border-radius: 15px;
}

#emergency {
    /* background-color: #ffa500; */
    display: flex;
}

.beach-info-detail {
    background-color: #ffffff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px 10px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.beach-info-index-title {
    font-size: 1.5em;
    font-weight: bold;
}
.beach-info-index-value {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin: 10px 0;
}
.beach-info-max-today {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}
.beach-info-detail img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.beach-info-top-line {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.beach-info-floating-max{
    background: orange;
    font-size: 1em;
    margin-left: 50px;
    border-radius: 10px;
    padding: 2px 15px;
}