/* Import Poppins Font Family - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Colour Palette */
:root {
    --primary-blue: #257BF4;

    --secondary-slate: #2c2f43;
    --secondary-slate-70: rgba(44, 47, 67, 0.7);
    --secondary-slate-10: rgba(44, 47, 67, 0.1);

    --accent-orange: #F48925;
    --accent-purple: #6D25F4;

    --background-white: #FFFFFF;
    --background-ghost: #F9F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.dummy-wrapper {
    display: flex;
    padding: 70px;
}

.dummy-wrapper .wrapper-inside {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    width: 100%;
    height: 100%;
}

.dummy-wrapper .wrapper-inside .logo {
    height: 85px;
}

/* Mobile Real Styling */

.mobile {
    display: flex;
    width: 100%;
    height: 100vh;
    /* padding: 5px; */
    background-color: #fff;
    overflow: hidden;
}

.mobile .mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* padding: 20px; */
    background-color: var(--secondary-slate-10);
    position: relative;
}

.mobile-wrapper .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.right-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ripwise-logo {
    height: 50px;
}

.mobile-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-slate);
    background: rgba(44, 47, 67, 0.2);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 100px;
}

.mobile-icon path {
    fill: var(--secondary-slate);
}

.alerts {
    padding: 10px;
}


.alerts.active {
    background: rgba(44, 47, 67, 0.2);
    color: #257BF4;
    border: 1px solid var(--primary-blue);
}

.alerts.active path {
    fill: var(--primary-blue);
}

.live-camera-link {
    padding: 8px 15px;
    gap: 10px;
    font-weight: 500;
}

/* When Live Feed Is Active */
.mobile-icon.live-camera-link.active { 
    background: rgba(44, 47, 67, 0.2);
    color: #257BF4;
    border: 1px solid var(--primary-blue);
}

.mobile-icon.live-camera-link.active path {
    fill: var(--primary-blue);
}

/* Gradient Overlay for Readability */
.map-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0.6), rgb(255, 255, 255, 0));
    border-radius: 5px;
    z-index: 1;
}

/* Google Maps */
#map-mobile {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    z-index: 0;
}

#map-directions {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    z-index: 0;
}

/* Navigation Original Box (Bottom) */

.nav-details {
    display: flex;
    flex-direction: column;
    gap: 25px;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 85%;
    padding-bottom: env(safe-area-inset-bottom); /* Adjusts for the Safari tab bar */
    margin-bottom: 5%;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
  }

.destination-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.destination-info .nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-slate);
    gap: 7px;
    width: 100%;
    /* border: 1px solid red; */
}

.destination-subtitle {
    font-size: 16px;
}

.destination-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5%;
}

.route-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.destination-route-type,
.destination-time,
.destination-distance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.adjusted {
    font-weight: 500;
}

.nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.start-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #2BB939;
    color: var(--background-white);
    border: none;
    padding: 15px 20px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.send-icon {
    height: 20px;
}

.start-nav:hover {
    background-color: #259a31;
}


/* Custom Design for Map Pin Popup */

.ssz-box {
    display: flex;
    flex-direction: column;
}

/* Live Directions */

.directions-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow: scroll;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 290px;
    padding-bottom: env(safe-area-inset-bottom); /* Adjusts for the Safari tab bar */

    background: rgba(255, 255, 255, 0.95);
    border-radius: 45px 45px 0px 0px;
    padding: 40px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1; 
  }

.directions-panel .panel-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 3px;
    margin-bottom: 15px;
}

.panel-title h4 {
    font-weight: 400;
    font-size: 18px;
}

.panel-title h2 {
    font-weight: 600;
    font-size: 22px;
    color: #257BF4;
}

.directions-panel .panel-distances {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    margin-bottom: 25px;
}

.directions-panel .panel-directions {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 20px;
}

.panel-directions ol {
    list-style: none;
}

.panel-directions li {
    margin-bottom: 10px;
    background-color: var(--secondary-slate-10);
    padding: 10px 10px;
    border-radius: 5px;
}

#compass-arrow {
    display: none;
}

.ripwise-live-feed {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 110px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ripwise-live-feed .beach-vid {
    object-fit: cover;
    border: 4px solid var(--secondary-slate-10);
    border-radius: 14px;
}

.ripwise-live-feed .safe-swim-zone-rectangle {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 65%;
    background-color: rgba(14, 219, 35, 0.20);
    border: 1.5px solid #0EDB23;
    border-radius: 12px;
}

.live-signal-new {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
}

.live-signal-new h4 {
    color: var(--secondary-slate-70);
    margin: 0;
    font-size: 14px;
}

.ripwise-live-feed .live-circle-new {
    width: 12px;
    height: 12px;
    background-color: #f42525;
    border-radius: 50%;
    animation: flash 1.5s infinite alternate;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.legend {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
}

.legend h4 {
    color: #0EDB23;
    margin: 0;
    font-size: 14px;
}

.legend .green-square {
    width: 12px;
    height: 12px;
    background-color: #0EDB23;
    border-radius: 3px;
}

/* /////////////////// */
/* /////////////////// */
/* Alert Popup Styline */
/* /////////////////// */
/* /////////////////// */

.alert-popup-overlay {
    display: none; /* Initially hidden --> Then display: block */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 2;
}
  
.alerts-popup {
    display: none; /* Initially hidden --> Then display: block */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background-white);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;

    text-align: center;
    z-index: 3; 
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userSelectedAlerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.userSelectedAlerts .retrievedAlert {
    padding: 10px 20px;
    background-color: rgb(37, 123, 244, 0.2);
    color: var(--secondary-slate);
    border-radius: 100px;
}
  
.close-alert-popup {
    padding: 15px;
    background-color: var(--secondary-slate);
    color: var(--background-white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.close-alert-popup:hover {
    background-color: var(--primary-blue);
}
  


@media only screen and (max-width: 380px) {

    .topbar .right-items .live-camera-link {
        padding: 10px;
    }

    .topbar .right-items .live-camera-link span {
        display: none;
        transition: all 0.3s ease;
    }
}